<%- include ('../partials/header') %>

<section>
    <inner-column>

        <module>
            <h1>POKEMONS</h1>

            <% pokemons.forEach(poke => { %>
            <li><%= poke.name%></li>
            <% }); %>

        </module>
    </inner-column>
</section>


<%- include ('../partials/footer') %>