<%- include ('../partials/header') %>

<section>
    <inner-column>

        <module>
            <%= pokemon.name.english %>
        </module>

    </inner-column>
</section>


<%- include ('../partials/footer') %>