<%- include ('../partials/header') %>

<section>
    <inner-column>

        <module>
            <h1>POKEMONS</h1>

            <% pokemons.forEach(poke => { %>
            <a href="/poke/<%= poke.id %>"><%= poke.name %></a>

            <% }); %>

        </module>
    </inner-column>
</section>


<%- include ('../partials/footer') %>